## Principais do repositório
__pycache__
*.key
*pyc
*.temp*
.vscode


site/*
.vscode
oss/*
open-dev/*

## Alguns outros gerados no gitignore.io
# Checkpoint do jupyter
.ipynb_checkpoints

# pyenv
.python-version

# Coisas de environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs
site/*

# reports de desempenho
students/*-report*
students/*-report.md
students/*-report.html

.credentials
.gh-credentials

email_config.txt
enviar_email.log

.DS_Store
notas.txt
resumo_notas.csv


