One of the main objectives of Open Development is to actively participate in existing software projects. In the 2023/2 edition, students worked on {{num_projetos}} different projects, contributing with {{num_prs}} code modifications, of which {{num_aceitos}} were incorporated into the original projects. In addition to these projects, students also worked on software developed by Insper professors to be used in various courses. A total of <b>{{info_insper|length}}</b> modifications were accepted in these projects.

We also encourage students to participate in external technology events and experience the world outside Insper. In total, students participated in <b>{{num_eventos}}</b> events.

<h2> Code contributions </h2>

{% for d in sorted_keys %}
<details class="note">
<summary> {{d.title()}}</summary>
{% for el in data[d] %}
<h4> {{el.title()}}</h4>
<ul style="list-style-type:none;">
{% for sub in data[d][el] %}
{% if sub.status %}
<li><a href={{sub.url}}> <span style="width: 60px; display: inline-block;"><img style="margin: 0; border: 0;" alt="GitHub issue/pull request detail" src={{sub.status}}></span> - {{sub.url}}</a></li>  
{% else %}
<li><a href={{sub.url}}> {{sub.url}} </a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}
</details>
{% endfor %}

<h2> Events </h2>

<div class="event-grid">
    {% for evt in eventos %}
    <a href="{{evt[1]}}">
        <img src="../eventos/{{evt[0]}}" class="event-picture">
    </a>
    {% endfor %}
</div>
