<html>
<head>
    <title> Relatório de acompanhamento - {{st.name}} </title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <style>
        h2 {
            border-top: 1px solid #ccc;
            padding-top: 5px;
        }
    </style>
</head>
<body>

<h1>Relatório de acompanhamento - {{st.name}}</h1>

<p class="pontuacao">Pontuação total: {{ xp_total }}</p>
<p>Conceito atual: {{ conceito }}</p>

{% if comentario_conceito %}
<h4> Avisos </h4>
<pre>{{comentario_conceito}}</pre>
{% endif %}

<h2>Atividades Tutorial</h2>

As seguintes atividades de sala de aula foram completadas e enviadas no repositório.

<div class="skill-list-done">
<ul class="achievements">
{% for sk in sk_tutorial %} 
    {% if sk.done %}
        <li> <input type="checkbox" checked> {{ sk.name}}  </li>
    {% else %}
        <li> <input type="checkbox"> {{ sk.name}} </li>
    {% endif %}
{% endfor %}
</ul>
</div>

<h2>Código</h2>

<div class="skill-list-done">
<ul class="achievements">
{% for sk in sk_code %} 
    {% if sk.done %}
        <li> <input type="checkbox" checked> {{ sk.name}}  </li>
    {% else %}
        <li> <input type="checkbox"> {{ sk.name}} </li>
    {% endif %}
{% endfor %}
</ul>
</div>


<h2>Tradução e Documentação </h2>

<div class="skill-list-done">
<ul class="achievements">
{% for sk in sk_docs %} 
    {% if sk.done %}
        <li> <input type="checkbox" checked> {{ sk.name}}  </li>
    {% else %}
        <li> <input type="checkbox"> {{ sk.name}} </li>
    {% endif %}
{% endfor %}
</ul>
</div>


<h2>Comunidade</h2>


<div class="skill-list-done">
<ul class="achievements">
{% for sk in sk_comm %} 
    {% if sk.done %}
        <li> <input type="checkbox" checked> {{ sk.name}}  </li>
    {% else %}
        <li> <input type="checkbox"> {{ sk.name}} </li>
    {% endif %}
{% endfor %}
</ul>
</div>

</body>
</html>