<table id="skills" class="pure-table pure-table-horizontal">
    <thead>
        <td>ID</td>
        <td></td>
        <td>Descrição</td>
        <td></td>
    </thead>
    <tbody>
    {% for sk in skills %}
        <tr>
            <td>
                {{ sk.id }}
            </td>
            <td class="">
                <img class="skill-img" src="{{ sk.full_image_path }}"/>
            </td>
            <td>
                {{ sk.name }}
            </td>
            <td>
                {{ sk.descr }}
            </td>
            <td>
                <span class="">{{ sk.xp }}XP</span>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
