
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>SoftDes 2018.2</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
        <a class="navbar-brand" href="./">SoftDes 2018.2</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		  {% if username %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./pass">Olá {{ username }} [trocar senha]<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" action="./logout">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
          </form>
		  {% endif %}
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">

		    <!-- menu -->
			{% for e in challenges %}
			<li class="nav-item">
              <a class="nav-link" href="./?ID={{ e[0] }}">Desafio {{ e[1] }}</a>
            </li>
			{% endfor %}
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

		  <!-- main -->
		  {% if msg != '' %}
		  <div class="alert alert-warning" role="alert">
            {{ msg }}
          </div>
		  {% endif %}

		  {% if p == 3%}

		  <h3>Trocar senha</h3>
		  <div class="row text-left">
            <div class="col-2 col-md-2 placeholder"></div>
            <div class="col-10 col-md-10 placeholder">
              <form action="./pass" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="velha">Senha Antiga:</label>
                    <input type="password" class="form-control-file" id="velha" name="old">
					<label for="nova">Senha Nova:</label>
                    <input type="password" class="form-control-file" id="nova" name="new">
					<label for="respeteco">Repetir Senha Nova:</label>
                    <input type="password" class="form-control-file" id="repeteco" name="again">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>

		  {% elif p == 1 %}

          <h1>Desafio {{ quiz[7] }}</h1>

          <section class="row text-center placeholders">
            <div class="col-12 col-sm-12 placeholder">
              <h4>{{ quiz[3] }}</h4>
              <div class="text-muted">Prazo: {{ expi }}</div>
            </div>
            <div class="col-4 col-md-1 placeholder"></div>
          </section>
          <div class="row text-left">
            <div class="col-2 col-md-2 placeholder"></div>
            <div class="col-10 col-md-10 placeholder">
			{% if not e %}
              <form action="?ID={{ quiz[0] }}" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="resposta">Resposta:</label>
                    <input type="file" class="form-control-file" id="resposta" name="code">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
			{% endif %}
            </div>
          </div>
          <br /><br />
          <h3>Envios:</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Feedback</th>
                  <th>Resultado</th>
                </tr>
              </thead>
              <tbody>
 				{% for ans in answers %}
                <tr>
                  <td>{{ ans[0] }}</td>
                  <td>{{ ans[1] }}</td>
                  <td>{{ ans[2] }}</td>
                </tr>
				{% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [ ['$','$'], ['\\(','\\)'] ]
  }
});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
  </body>
</html>

